.message-container {
  display: inline-block;
  border-radius: 5px;
  background-color: #e6e7ec;
  padding: 10px;
}

.btn-channel {
  text-align: left;
}

.message {
  margin-left: 5px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-danger);
  --bs-tooltip-arrow-height: 0;
  --bs-tooltip-arrow-weight: 0;
}

.tooltip-inner:empty {
  display: none;
}
